.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer {
    display: flex;
    padding: .8rem;
    align-items: flex-start;
}

.t-Form-inputContainer:before {
    color: #ffffff;
}

.t-Form-field,
.t-Form-select,
.t-Form-inputContainer input[type="text"],
.t-Form-inputContainer select.selectlist,
.t-Form-inputContainer select.yes_no,
.t-Form-inputContainer input.text_field,
.t-Form-inputContainer input.password,
.t-Form-inputContainer textarea.textarea,
.t-Form-inputContainer input.datepicker,
.t-Form-inputContainer span.display_only,
.t-Form-inputContainer input.popup_lov,
.t-Form-inputContainer select[multiple],
.t-Form-textarea,
.u-TF-item--text,
.u-TF-item--textarea,
.u-TF-item--datepicker,
.u-TF-item--select {
    height: 6rem;
    box-sizing: border-box;
    border-radius: .4rem;
    color: #07080f;
    background-color: #ffffff;
    border: .1rem solid #c3c5cc;
    text-align: left;
    line-height: normal;
    font-size: 1.6rem;
}

.t-Form-field:focus,
.t-Form-select:focus,
.t-Form-inputContainer input[type="text"]:focus,
.t-Form-inputContainer select.selectlist:focus,
.t-Form-inputContainer select.yes_no:focus,
.t-Form-inputContainer input.text_field:focus,
.t-Form-inputContainer input.password:focus,
.t-Form-inputContainer textarea.textarea:focus,
.t-Form-inputContainer input.datepicker:focus,
.t-Form-inputContainer span.display_only:focus,
.t-Form-inputContainer input.popup_lov:focus,
.t-Form-inputContainer select[multiple]:focus,
.t-Form-textarea:focus,
.u-TF-item--text:focus,
.u-TF-item--textarea:focus,
.u-TF-item--datepicker:focus,
.u-TF-item--select:focus {
    height: 6rem;
    background-color: #ffffff !important;
    border-color: #173348 !important;
    color: #07080f !important;
}

.t-Form-field:focus::-ms-value,
.t-Form-select:focus::-ms-value,
.t-Form-inputContainer input[type="text"]:focus::-ms-value,
.t-Form-inputContainer select.selectlist:focus::-ms-value,
.t-Form-inputContainer select.yes_no:focus::-ms-value,
.t-Form-inputContainer input.text_field:focus::-ms-value,
.t-Form-inputContainer input.password:focus::-ms-value,
.t-Form-inputContainer textarea.textarea:focus::-ms-value,
.t-Form-inputContainer input.datepicker:focus::-ms-value,
.t-Form-inputContainer span.display_only:focus::-ms-value,
.t-Form-inputContainer input.popup_lov:focus::-ms-value,
.t-Form-inputContainer select[multiple]:focus::-ms-value,
.t-Form-textarea:focus::-ms-value,
.u-TF-item--text:focus::-ms-value,
.u-TF-item--textarea:focus::-ms-value,
.u-TF-item--datepicker:focus::-ms-value,
.u-TF-item--select:focus::-ms-value {
    color: #173348;
}

.t-Form-field:hover,
.t-Form-select:hover,
.t-Form-inputContainer input[type="text"]:hover,
.t-Form-inputContainer select.selectlist:hover,
.t-Form-inputContainer select.yes_no:hover,
.t-Form-inputContainer input.text_field:hover,
.t-Form-inputContainer input.password:hover,
.t-Form-inputContainer textarea.textarea:hover,
.t-Form-inputContainer input.datepicker:hover,
.t-Form-inputContainer span.display_only:hover,
.t-Form-inputContainer input.popup_lov:hover,
.t-Form-inputContainer select[multiple]:hover,
.t-Form-textarea:hover,
.u-TF-item--text:hover,
.u-TF-item--textarea:hover,
.u-TF-item--datepicker:hover,
.u-TF-item--select:hover {
    background-color: #ffffff;
}

.t-Form-inputContainer input::-webkit-input-placeholder {
    color: #173348;
    opacity: .55;
}

.t-Form-inputContainer input::-moz-placeholder {
    color: #173348;
    opacity: .55;
}

.t-Form-inputContainer input:-ms-input-placeholder {
    color: #173348;
    opacity: .55;
}

.t-Form input.file {
    color: #ffffff;
}

.t-Form-inputContainer span.display_only {
    border-color: transparent;
    background-color: transparent;
}

.t-Form-select,
.t-Form-inputContainer select.selectlist,
.t-Form-inputContainer select.yes_no {
    color: #173348;
}

.t-Form-field--readOnly {
    background-color: transparent;
}

.t-Form-radioLabel,
.t-Form-inputContainer .radio_group label,
.t-Form-checkboxLabel,
.t-Form-inputContainer .checkbox_group label,
.t-Form-label {
    color: #173348;
}

.t-Form-error {
    color: #E92020;
}

.t-Form-postText {
    color: #737373;
}

.t-Form--search input.t-Form-searchField {
    background-color: #979799;
    color: #ffffff;
}

.apex-item-icon {
    width: 3.6rem;
    height: 6rem;
    float: left;
    box-sizing: border-box;
    border-radius: .4rem;
    color: #c3c5cc;
    background-color: #ffffff;
    border: .1rem solid #c3c5cc;
    font-size: 2rem;
}

body .ui-datepicker .ui-datepicker-buttonpane button:focus {
    outline: none;
    box-shadow: 0 0 0 .1rem #173348 inset, 0 0 1px 2px rgba(23, 51, 72, 0.25) !important;
}

body .ui-datepicker td span.ui-state-default,
body .ui-datepicker td a.ui-state-default {
    background-color: transparent;
    color: #000;
}

body .ui-datepicker td span.ui-state-default.ui-state-active,
body .ui-datepicker td a.ui-state-default.ui-state-active {
    background-color: #173348;
    color: #e6f0f7;
    font-weight: bold;
}

body .ui-datepicker td span.ui-state-default.ui-state-active.ui-state-hover,
body .ui-datepicker td a.ui-state-default.ui-state-active.ui-state-hover {
    background-color: #173348 !important;
}

body .ui-datepicker td span.ui-state-default.ui-state-hover,
body .ui-datepicker td a.ui-state-default.ui-state-hover {
    background-color: #979799 !important;
}

body .ui-datepicker td span.ui-state-default:focus,
body .ui-datepicker td a.ui-state-default:focus {
    outline: none;
    box-shadow: 0 0 0 1px #173348 inset, 0 0 1px 2px rgba(23, 51, 72, 0.25) !important;
}

body .ui-datepicker td span.ui-state-default.ui-state-highlight,
body .ui-datepicker td a.ui-state-default.ui-state-highlight {
    background-color: pink;
}

body .ui-datepicker th {
    color: #bfbfbf;
}

body .ui-datepicker .ui-datepicker-header,
body .ui-datepicker .ui-datepicker-buttonpane button,
body .ui-datepicker .ui-datepicker-next,
body .ui-datepicker .ui-datepicker-prev {
    border-radius: .2rem;
}

.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer {
    display: flex;
    padding: .8rem;
    align-items: flex-start
}

.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer.rel-col>.col {
    width: auto!important;
    float: none
}

.t-Form-fieldContainer--floatingLabel .t-Form-helpButton {
    padding-top: 0;
    padding-bottom: 0
}

.t-Form-fieldContainer--floatingLabel .t-Form-labelContainer {
    order: 2;
    padding: 0;
    position: relative
}

.t-Form-fieldContainer--floatingLabel.is-required {
    position: relative
}

.t-Form-fieldContainer--floatingLabel.is-required:before {
    position: absolute;
    content: '';
    border-width: 3px;
    border-color: red transparent transparent red;
    border-style: solid;
    z-index: 2;
    border-top-left-radius: 2px
}

.t-Form-fieldContainer--floatingLabel.is-required .t-Form-label:after,
.t-Form-fieldContainer--floatingLabel.is-required .t-Form-label:before {
    opacity: 0;
    position: absolute
}

.t-Form-fieldContainer--floatingLabel .t-Form-label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
    text-align: left;
    line-height: 2.8rem;
    white-space: nowrap;
    padding: 0rem 2rem 0 4rem;
    font-size: 1.4rem;
    transition: .2s ease;
    color: rgba(0, 0, 0, .55)
}

.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--textarea.is-active .t-Form-label:before,
.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--textarea.js-show-label .t-Form-label:before {
    content: '';
    display: block;
    position: absolute;
    left: .4rem;
    right: .4rem;
    top: .4rem;
    bottom: 0;
    z-index: -1;
    border-radius: 4px;
    opacity: .85;
    transition: background-color .1s ease
}

.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--checkbox .t-Form-label,
.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--display-only .t-Form-label,
.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--file .t-Form-label,
.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--radiogroup .t-Form-label,
.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--rich-text-editor .t-Form-label,
.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--shuttle .t-Form-label,
.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--yes-no .t-Form-label,
.t-Form-fieldContainer--floatingLabel.is-active .t-Form-label,
.t-Form-fieldContainer--floatingLabel.js-show-label .t-Form-label {
    line-height: 2rem;
    font-size: 1.1rem;
    padding-top: .4rem
}

.t-Form-fieldContainer--floatingLabel .t-Form-inputContainer {
    order: 3;
    padding: 0;
    flex-grow: 1;
    flex-wrap: wrap
}

.t-Form-fieldContainer--floatingLabel .t-Form-itemWrapper {
    align-items: stretch;
    width: 100%
}

.t-Form-fieldContainer--floatingLabel .apex-item-select,
.t-Form-fieldContainer--floatingLabel .apex-item-text,
.t-Form-fieldContainer--floatingLabel .apex-item-textarea {
    min-height: 4.8rem;
    padding: 2.2rem .8rem .6rem;
    line-height: 1.8rem;
    flex-grow: 1
}

.t-Form-fieldContainer--floatingLabel .apex-item-select[size="1"] {
    min-height: 4.8rem;
    max-height: 4.8rem;
    padding-bottom: 4px
}

.t-Form-fieldContainer--floatingLabel .apex-item-select,
.t-Form-fieldContainer--floatingLabel .apex-item-text {
    font-size: 1.4rem
}

.t-Form-fieldContainer--floatingLabel .apex-item-group--textarea {
    flex-grow: 1
}

.t-Form-fieldContainer--floatingLabel .apex-item-textarea {
    font-size: 1.2rem;
    width: 100%
}

.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--checkbox.is-required .t-Form-label:before,
.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--checkbox.is-required:before,
.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--file.is-required .t-Form-label:before,
.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--file.is-required:before,
.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--radiogroup.is-required .t-Form-label:before,
.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--radiogroup.is-required:before,
.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--shuttle.is-required .t-Form-label:before,
.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--shuttle.is-required:before,
.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--yes-no.is-required .t-Form-label:before,
.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--yes-no.is-required:before {
    display: none
}

.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--checkbox.is-required .t-Form-label:after,
.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--file.is-required .t-Form-label:after,
.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--radiogroup.is-required .t-Form-label:after,
.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--shuttle.is-required .t-Form-label:after,
.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--yes-no.is-required .t-Form-label:after {
    display: inline-block;
    opacity: 1;
    position: static;
    line-height: 1
}

.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--checkbox .t-Form-label,
.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--file .t-Form-label,
.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--radiogroup .t-Form-label,
.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--shuttle .t-Form-label,
.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--yes-no .t-Form-label {
    padding-left: 0;
    padding-right: 0;
    pointer-events: initial
}

.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--checkbox .t-Form-helpButton,
.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--file .t-Form-helpButton,
.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--radiogroup .t-Form-helpButton,
.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--shuttle .t-Form-helpButton,
.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--yes-no .t-Form-helpButton {
    margin-top: 24px
}

.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--checkbox .apex-item-group,
.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--display-only .apex-item-group,
.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--radiogroup .apex-item-group,
.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--yes-no .apex-item-group {
    padding: 2.4rem 0 0
}

.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--file .apex-item-group,
.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--shuttle .apex-item-group {
    margin-top: 2.4rem;
    padding-top: 0
}

.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--rich-text-editor .t-Form-itemWrapper {
    padding-top: 2.4rem
}

.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--display-only.apex-item-wrapper--yes-no .t-Form-label {
    padding-left: .8rem;
    padding-right: .8rem
}

.t-Form-fieldContainer--floatingLabel .apex-item-display-only {
    display: block;
    width: 100%;
    padding: 2.2rem .8rem .6rem;
    border-radius: .2rem;
    flex-grow: 0;
    line-height: 2rem;
    font-weight: 400;
    border: 1px solid;
    min-height: 4.8rem
}

.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--file .apex-item-group {
    width: 100%
}

.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--shuttle .apex-item-select {
    margin: 0;
    padding-top: .8rem;
    padding-bottom: .8rem
}

.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--shuttle .a-Button--shuttle {
    margin-top: 0;
    margin-bottom: 4px
}

.t-Form-fieldContainer--floatingLabel .apex-button-group .a-Button {
    padding: .4rem 2.4rem
}

.t-Form-fieldContainer--floatingLabel .a-Button {
    padding-right: 1.2rem;
    padding-left: 1.2rem
}

.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--radioButtonGroup .t-Form-itemWrapper {
    align-items: center
}

.t-Form-fieldContainer--floatingLabel .apex-item-group--popup-lov {
    flex-grow: 1
}

.t-Form-fieldContainer--floatingLabel .apex-item-group--popup-lov .apex-item-icon {
    position: absolute
}

.t-Form-fieldContainer--floatingLabel .apex-item-group--popup-lov .apex-item-multi {
    padding: 2rem .8rem .2rem .6rem
}

.t-Form-fieldContainer--floatingLabel .apex-item-group--popup-lov .apex-item-multi .apex-item-text {
    min-height: unset;
    padding: 1px 2px
}

.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--textarea .t-Form-itemWrapper {
    align-items: flex-start
}

.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--has-icon .apex-item-multi,
.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--has-icon .t-Form-label {
    padding-left: 4rem
}

.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--has-icon .apex-item-multi {
    padding-left: 3.8rem
}

.t-Form-fieldContainer--floatingLabel .apex-item-icon {
    left: 3.2rem;
    line-height: 4.8rem;
    width: 3.2rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    transition: .2s ease;
    flex-shrink: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center
}

.t-Form--large .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--checkbox .t-Form-helpButton,
.t-Form--large .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--file .apex-item-group,
.t-Form--large .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--file .t-Form-helpButton,
.t-Form--large .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--radiogroup .t-Form-helpButton,
.t-Form--large .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--shuttle .apex-item-group,
.t-Form--large .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--shuttle .t-Form-helpButton,
.t-Form--large .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--yes-no .t-Form-helpButton,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large.apex-item-wrapper--checkbox .t-Form-helpButton,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large.apex-item-wrapper--file .apex-item-group,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large.apex-item-wrapper--file .t-Form-helpButton,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large.apex-item-wrapper--radiogroup .t-Form-helpButton,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large.apex-item-wrapper--shuttle .apex-item-group,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large.apex-item-wrapper--shuttle .t-Form-helpButton,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large.apex-item-wrapper--yes-no .t-Form-helpButton {
    margin-top: 28px
}

.t-Form-fieldContainer--floatingLabel .apex-item-has-icon {
    text-indent: 3.1rem
}

.t-Form-fieldContainer--floatingLabel .apex-item-has-icon:focus+.apex-item-icon,
.t-Form-fieldContainer--floatingLabel .apex-item-multi.is-focused+.apex-item-icon {
    background-color: #0572CE;
    color: #FFF
}

.t-Form-fieldContainer--floatingLabel .t-Form-itemText {
    line-height: 4.8rem;
    min-height: 4.8rem;
    justify-content: center
}

.t-Form-fieldContainer--floatingLabel .apex-item-fieldset {
    width: auto;
    flex-grow: 1
}

.t-Form--large .t-Form-fieldContainer--floatingLabel .t-Form-label,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large .t-Form-label {
    font-size: 16px;
    line-height: 56px;
    padding: 0 12px
}

.t-Form--large .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--checkbox .t-Form-label,
.t-Form--large .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--display-only .t-Form-label,
.t-Form--large .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--file .t-Form-label,
.t-Form--large .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--radiogroup .t-Form-label,
.t-Form--large .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--rich-text-editor .t-Form-label,
.t-Form--large .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--shuttle .t-Form-label,
.t-Form--large .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--yes-no .t-Form-label,
.t-Form--large .t-Form-fieldContainer--floatingLabel.is-active .t-Form-label,
.t-Form--large .t-Form-fieldContainer--floatingLabel.js-show-label .t-Form-label,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large.apex-item-wrapper--checkbox .t-Form-label,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large.apex-item-wrapper--display-only .t-Form-label,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large.apex-item-wrapper--file .t-Form-label,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large.apex-item-wrapper--radiogroup .t-Form-label,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large.apex-item-wrapper--rich-text-editor .t-Form-label,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large.apex-item-wrapper--shuttle .t-Form-label,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large.apex-item-wrapper--yes-no .t-Form-label,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large.is-active .t-Form-label,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large.js-show-label .t-Form-label {
    line-height: 18px;
    font-size: 12px;
    padding-top: 10px
}

.t-Form--large .t-Form-fieldContainer--floatingLabel .apex-item-select,
.t-Form--large .t-Form-fieldContainer--floatingLabel .apex-item-text,
.t-Form--large .t-Form-fieldContainer--floatingLabel .apex-item-textarea,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large .apex-item-select,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large .apex-item-text,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large .apex-item-textarea {
    min-height: 56px;
    line-height: 22px;
    padding: 24px 12px 10px
}

.t-Form--large .t-Form-fieldContainer--floatingLabel .apex-item-select[size="1"],
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large .apex-item-select[size="1"] {
    min-height: 56px;
    max-height: 56px;
    padding-bottom: 6px
}

.t-Form--large .t-Form-fieldContainer--floatingLabel .apex-item-select,
.t-Form--large .t-Form-fieldContainer--floatingLabel .apex-item-text,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large .apex-item-select,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large .apex-item-text {
    font-size: 16px
}

.t-Form--large .t-Form-fieldContainer--floatingLabel .apex-item-textarea,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large .apex-item-textarea {
    font-size: 14px
}

.t-Form--large .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--checkbox .t-Form-label,
.t-Form--large .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--file .t-Form-label,
.t-Form--large .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--radiogroup .t-Form-label,
.t-Form--large .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--shuttle .t-Form-label,
.t-Form--large .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--yes-no .t-Form-label,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large.apex-item-wrapper--checkbox .t-Form-label,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large.apex-item-wrapper--file .t-Form-label,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large.apex-item-wrapper--radiogroup .t-Form-label,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large.apex-item-wrapper--shuttle .t-Form-label,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large.apex-item-wrapper--yes-no .t-Form-label {
    padding-left: 0;
    padding-right: 0
}

.t-Form--large .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--checkbox .apex-item-group,
.t-Form--large .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--display-only .apex-item-group,
.t-Form--large .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--radiogroup .apex-item-group,
.t-Form--large .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--yes-no .apex-item-group,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large.apex-item-wrapper--checkbox .apex-item-group,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large.apex-item-wrapper--display-only .apex-item-group,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large.apex-item-wrapper--radiogroup .apex-item-group,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large.apex-item-wrapper--yes-no .apex-item-group {
    padding: 28px 0 0
}

.t-Form--large .t-Form-fieldContainer--floatingLabel .apex-item-file,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large .apex-item-file {
    height: 2.8rem
}

.t-Form--large .t-Form-fieldContainer--floatingLabel .apex-item-file-dropzone-icon,
.t-Form--large .t-Form-fieldContainer--floatingLabel .apex-item-file-dropzone-label,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large .apex-item-file-dropzone-icon,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large .apex-item-file-dropzone-label {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.t-Form--large .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--shuttle .apex-item-select,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large.apex-item-wrapper--shuttle .apex-item-select {
    padding-top: 12px;
    padding-bottom: 12px
}

.t-Form--large .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--rich-text-editor .t-Form-itemWrapper,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large.apex-item-wrapper--rich-text-editor .t-Form-itemWrapper {
    padding-top: 2.8rem
}

.t-Form--large .t-Form-fieldContainer--floatingLabel .apex-button-group .a-Button,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large .apex-button-group .a-Button {
    padding: 6px 24px
}

.t-Form--large .t-Form-fieldContainer--floatingLabel .apex-item-group--rc,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large .apex-item-group--rc {
    margin: 0
}

.t-Form--xlarge .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--checkbox .t-Form-helpButton,
.t-Form--xlarge .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--display-only .t-Form-helpButton,
.t-Form--xlarge .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--file .apex-item-group,
.t-Form--xlarge .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--file .t-Form-helpButton,
.t-Form--xlarge .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--radiogroup .t-Form-helpButton,
.t-Form--xlarge .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--shuttle .apex-item-group,
.t-Form--xlarge .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--shuttle .t-Form-helpButton,
.t-Form--xlarge .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--yes-no .t-Form-helpButton,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge.apex-item-wrapper--checkbox .t-Form-helpButton,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge.apex-item-wrapper--display-only .t-Form-helpButton,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge.apex-item-wrapper--file .apex-item-group,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge.apex-item-wrapper--file .t-Form-helpButton,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge.apex-item-wrapper--radiogroup .t-Form-helpButton,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge.apex-item-wrapper--shuttle .apex-item-group,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge.apex-item-wrapper--shuttle .t-Form-helpButton,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge.apex-item-wrapper--yes-no .t-Form-helpButton {
    margin-top: 28px
}

.t-Form--large .t-Form-fieldContainer--floatingLabel .apex-item-group--popup-lov .apex-item-multi,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large .apex-item-group--popup-lov .apex-item-multi {
    padding: 2.4rem 1.2rem .2rem .8rem
}

.t-Form--large .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--has-icon .apex-item-multi,
.t-Form--large .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--has-icon .t-Form-label,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large.apex-item-wrapper--has-icon .apex-item-multi,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large.apex-item-wrapper--has-icon .t-Form-label {
    padding-left: 44px
}

.t-Form--large .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--has-icon .apex-item-multi,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large.apex-item-wrapper--has-icon .apex-item-multi {
    padding-left: 40px
}

.t-Form--large .t-Form-fieldContainer--floatingLabel .apex-item-icon,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large .apex-item-icon {
    line-height: 56px;
    padding: 0
}

.t-Form--large .t-Form-fieldContainer--floatingLabel .apex-item-has-icon,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large .apex-item-has-icon {
    text-indent: 3.1rem
}

.t-Form--large .t-Form-fieldContainer--floatingLabel .apex-item-multi,
.t-Form--large .t-Form-fieldContainer--floatingLabel .apex-item-popup-lov.apex-item-has-icon,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large .apex-item-multi,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large .apex-item-popup-lov.apex-item-has-icon {
    text-indent: 0
}

.t-Form--large .t-Form-fieldContainer--floatingLabel .t-Form-itemText,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large .t-Form-itemText {
    line-height: 56px;
    min-height: 56px
}

.t-Form--large .t-Form-fieldContainer--floatingLabel .apex-item-group--shuttle .apex-item-select,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large .apex-item-group--shuttle .apex-item-select {
    min-height: 180px
}

.t-Form--large .t-Form-fieldContainer--floatingLabel .apex-item-display-only,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--large .apex-item-display-only {
    line-height: 2rem;
    padding-bottom: 6px
}

.t-Form--xlarge .t-Form-fieldContainer--floatingLabel .t-Form-label,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge .t-Form-label {
    font-size: 16px;
    line-height: 64px;
    padding: 0 12px
}

.t-Form--xlarge .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--checkbox .t-Form-label,
.t-Form--xlarge .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--display-only .t-Form-label,
.t-Form--xlarge .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--file .t-Form-label,
.t-Form--xlarge .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--radiogroup .t-Form-label,
.t-Form--xlarge .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--rich-text-editor .t-Form-label,
.t-Form--xlarge .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--shuttle .t-Form-label,
.t-Form--xlarge .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--yes-no .t-Form-label,
.t-Form--xlarge .t-Form-fieldContainer--floatingLabel.is-active .t-Form-label,
.t-Form--xlarge .t-Form-fieldContainer--floatingLabel.js-show-label .t-Form-label,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge.apex-item-wrapper--checkbox .t-Form-label,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge.apex-item-wrapper--display-only .t-Form-label,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge.apex-item-wrapper--file .t-Form-label,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge.apex-item-wrapper--radiogroup .t-Form-label,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge.apex-item-wrapper--rich-text-editor .t-Form-label,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge.apex-item-wrapper--shuttle .t-Form-label,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge.apex-item-wrapper--yes-no .t-Form-label,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge.is-active .t-Form-label,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge.js-show-label .t-Form-label {
    line-height: 22px;
    font-size: 14px;
    padding-top: 6px
}

.t-Form--xlarge .t-Form-fieldContainer--floatingLabel .apex-item-select[size="1"],
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge .apex-item-select[size="1"] {
    min-height: 64px;
    max-height: 64px
}

.t-Form--xlarge .t-Form-fieldContainer--floatingLabel .apex-item-select,
.t-Form--xlarge .t-Form-fieldContainer--floatingLabel .apex-item-text,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge .apex-item-select,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge .apex-item-text {
    font-size: 16px
}

.t-Form--xlarge .t-Form-fieldContainer--floatingLabel .apex-item-textarea,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge .apex-item-textarea {
    font-size: 14px
}

.t-Form--xlarge .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--checkbox .t-Form-label,
.t-Form--xlarge .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--display-only .t-Form-label,
.t-Form--xlarge .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--file .t-Form-label,
.t-Form--xlarge .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--radiogroup .t-Form-label,
.t-Form--xlarge .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--shuttle .t-Form-label,
.t-Form--xlarge .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--yes-no .t-Form-label,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge.apex-item-wrapper--checkbox .t-Form-label,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge.apex-item-wrapper--display-only .t-Form-label,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge.apex-item-wrapper--file .t-Form-label,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge.apex-item-wrapper--radiogroup .t-Form-label,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge.apex-item-wrapper--shuttle .t-Form-label,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge.apex-item-wrapper--yes-no .t-Form-label {
    padding-left: 0;
    padding-right: 0
}

.t-Form--xlarge .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--checkbox .apex-item-group,
.t-Form--xlarge .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--display-only .apex-item-group,
.t-Form--xlarge .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--radiogroup .apex-item-group,
.t-Form--xlarge .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--yes-no .apex-item-group,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge.apex-item-wrapper--checkbox .apex-item-group,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge.apex-item-wrapper--display-only .apex-item-group,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge.apex-item-wrapper--radiogroup .apex-item-group,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge.apex-item-wrapper--yes-no .apex-item-group {
    padding: 28px 0 0
}

.t-Form--xlarge .t-Form-fieldContainer--floatingLabel .apex-item-file,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge .apex-item-file {
    height: 3.2rem
}

.t-Form--xlarge .t-Form-fieldContainer--floatingLabel .apex-item-file-dropzone-label,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge .apex-item-file-dropzone-label {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.t-Form--xlarge .t-Form-fieldContainer--floatingLabel .apex-item-file-dropzone-icon,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge .apex-item-file-dropzone-icon {
    padding-top: .7rem;
    padding-bottom: .7rem
}

.t-Form--xlarge .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--shuttle .apex-item-select,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge.apex-item-wrapper--shuttle .apex-item-select {
    padding-top: 12px;
    padding-bottom: 12px
}

.t-Form--xlarge .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--rich-text-editor .t-Form-itemWrapper,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge.apex-item-wrapper--rich-text-editor .t-Form-itemWrapper {
    padding-top: 2.8rem
}

.t-Form--xlarge .t-Form-fieldContainer--floatingLabel .apex-button-group .a-Button,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge .apex-button-group .a-Button {
    padding: 10px 24px;
    font-size: 14px
}

.t-Form--xlarge .t-Form-fieldContainer--floatingLabel .apex-item-group--rc,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge .apex-item-group--rc {
    margin: 0
}

.t-Form--xlarge .t-Form-fieldContainer--floatingLabel .apex-item-group--popup-lov .apex-item-multi,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge .apex-item-group--popup-lov .apex-item-multi {
    padding: 2.4rem 1.2rem .2rem .8rem
}

.t-Form--xlarge .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--has-icon .apex-item-multi,
.t-Form--xlarge .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--has-icon .t-Form-label,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge.apex-item-wrapper--has-icon .apex-item-multi,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge.apex-item-wrapper--has-icon .t-Form-label {
    padding-left: 48px
}

.t-Form--xlarge .t-Form-fieldContainer--floatingLabel.apex-item-wrapper--has-icon .apex-item-multi,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge.apex-item-wrapper--has-icon .apex-item-multi {
    padding-left: 4.4rem
}

.t-Form--xlarge .t-Form-fieldContainer--floatingLabel .apex-item-icon,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge .apex-item-icon {
    left: 3.6rem;
    line-height: 64px;
    margin-left: -3.6rem;
    width: 3.6rem;
    padding: 0
}

.t-Form--xlarge .t-Form-fieldContainer--floatingLabel .apex-item-has-icon,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge .apex-item-has-icon {
    text-indent: 3.5rem
}

.t-Form--xlarge .t-Form-fieldContainer--floatingLabel .apex-item-multi,
.t-Form--xlarge .t-Form-fieldContainer--floatingLabel .apex-item-popup-lov.apex-item-has-icon,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge .apex-item-multi,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge .apex-item-popup-lov.apex-item-has-icon {
    text-indent: 0
}

.t-Form--xlarge .t-Form-fieldContainer--floatingLabel .t-Form-itemText,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge .t-Form-itemText {
    line-height: 64px;
    min-height: 64px
}

.t-Form--xlarge .t-Form-fieldContainer--floatingLabel .apex-item-group--shuttle .apex-item-select,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge .apex-item-group--shuttle .apex-item-select {
    min-height: 240px
}

.t-Form--xlarge .t-Form-fieldContainer--floatingLabel .apex-item-display-only,
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer--xlarge .apex-item-display-only {
    line-height: 2.4rem;
    padding-bottom: 8px
}

.t-Form--stretchInputs .apex-item-group--auto-complete,
.t-Form-fieldContainer--floatingLabel .apex-item-group--auto-complete {
    width: 100%
}

.ac_results {
    padding: 0;
    border: 1px solid #07080f;
    font-family: 'Roboto Regular', 'Roboto';
    background-color: #fff;
    overflow: hidden;
    font-size: 1.6rem;
    text-align: left;
    z-index: 99999
}

.ac_results ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0
}

.ac_results li {
    height: 4.8rem;
    font: menu;
    margin: 0;
    padding: 0.2rem 0.5rem;
    cursor: default;
    display: block;
    font-size: 1.6rem;
    overflow: hidden
}

body#ir_help li,
body#ir_help p {
    font-size: 1.4rem;
    line-height: 1.5rem
}

.ac_loading {
    background: url(../../apex_ui/img/legacy/loading16x16.gif) right center no-repeat #fff
}

.ac_odd {
    background-color: #fff
}

.ac_over {
    background-color: #edeef4;
    color: #07080f
}

.a-Button.a-Button--calendar {
    margin-left: -1px;
    width: 3.6rem;
    height: 6rem;
    box-sizing: border-box;
    border-radius: .4rem;
    color: #c3c5cc;
    background-color: #ffffff;
    border: .1rem solid #c3c5cc;
    font-size: 2rem;
}