.t-Header-branding {
    background-color: #173348;
}

.t-Header-logo-link,
.t-Header .t-Button.t-Button--header.is-active,
.t-Header .t-Button.t-Button--header.t-Button--header {
    color: #ffffff;
}

.t-Header-logo-link:hover,
.t-Header .t-Button.t-Button--header.is-active:hover,
.t-Header .t-Button.t-Button--header.t-Button--header:hover {
    text-decoration: none;
}

.t-Header-logo-link:focus,
.t-Header-logo-link:active:focus {
    outline: none;
    box-shadow: 0 0 0 1px #2a5c82 inset, 0 0 1px 2px rgba(42, 92, 130, 0.25) !important;
}

.t-Header-nav {
    background-color: #ffffff;
}

.t-Header .a-MenuBar-item:hover {
    background-color: transparent;
}

.t-Header .a-MenuBar-item>.a-Menu-subMenuCol .a-Icon {
    border-radius: 100%;
}

.t-Header .a-Menu.a-Menu--top>.a-Menu-content {
    border-top-width: 0;
}

.t-Header .a-Menu-content {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.t-Header-nav-list {
    background-color: transparent;
}

.t-Body-title {
    background-color: #fff;
    border: none;
    color: #000000;
    padding-left: 1.4rem;
    padding-top: 1rem;
}

.t-Body-contentInner {
    padding: 0rem;
}

.t-Breadcrumb-item .t-Icon:hover {
    text-decoration: underline;
}

.t-Breadcrumb-item,
.t-Breadcrumb-item a {
    color: #435c74;
}

.t-BreadcrumbRegion--useBreadcrumbTitle .t-Breadcrumb-item:last-child .t-Breadcrumb-label {
    color: #000000;
}

.t-BreadcrumbRegion-titleText {
    box-sizing: border-box;
    font-family: 'Roboto Regular', 'Roboto';
    color: #333333;
    text-align: left;
    line-height: 3.6rem;
    font-size: 2.8rem;
    margin: 0;
}

.t-Breadcrumb-item.is-active {
    color: #000000;
}

.t-Breadcrumb-item:after {
    content: '\005C';
    margin-left: .8rem;
    margin-right: .6rem;
    color: rgba(0, 0, 0, 0.9935);
}

.t-Region,
.t-Region-header {
    background-color: #fff;
    border: none;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.t-Region-body {
    background-color: #edeef4;
}

.u-focused {
    box-shadow: 0 0 0 1px #ff2d55, 0 0 1px 0px rgba(255, 45, 85, 0.5) !important;
    outline: none;
}

.a-Toolbar:after,
.a-Toolbar:before {
    content: " ";
    display: table
}

.a-Toolbar-group {
    display: inline-block;
    margin-right: .8rem;
    padding-right: .8rem;
    border-style: solid;
    border-width: 0 .1rem 0 0;
    margin-bottom: .8rem;
    border-color: inherit
}

.a-Toolbar-item {
    margin-right: .8rem
}

.a-Toolbar-item:last-child {
    margin-right: 0rem
}

.a-Toolbar-group--together .a-Toolbar-item {
    margin-right: -1px
}

.u-RTL .a-Toolbar-group--together .a-Toolbar-item {
    margin-right: 0;
    margin-left: -1px
}

.a-Toolbar-inputText {
    font-size: 1.2rem;
    line-height: 1.6rem;
    display: inline-block;
    padding: .8rem 1.2rem;
    vertical-align: top;
    border: none;
    border-radius: .2rem;
    margin: 0
}

.a-Toolbar-selectList {
    font-size: 1.3rem;
    line-height: 1.6rem;
    overflow: hidden;
    height: 3.2rem;
    padding-right: 3.2rem;
    padding-left: .8rem;
    text-indent: .001rem;
    text-overflow: ' ';
    border-radius: .2rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MDAiIGhlaWdodD0iMjAwIiB2aWV3Qm94PSItOTkuNSAwLjUgNDAwIDIwMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAtOTkuNSAwLjUgNDAwIDIwMCI+PHBhdGggZmlsbD0iIzQ0NCIgZD0iTTE1Ni4yNSA3My43YzAgMS42LS42MTIgMy4yLTEuODI1IDQuNDI1bC01NC40MjUgNTQuNDI1LTU0LjQyNS01NC40MjVjLTIuNDM4LTIuNDM4LTIuNDM4LTYuNCAwLTguODM3czYuNC0yLjQzOCA4LjgzNyAwbDQ1LjU4OCA0NS41NzQgNDUuNTc1LTQ1LjU3NWMyLjQzOC0yLjQzOCA2LjM5OS0yLjQzOCA4LjgzNyAwIDEuMjI2IDEuMjI2IDEuODM4IDIuODI1IDEuODM4IDQuNDEzeiIvPjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: 32px 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: .1rem solid
}

.u-RTL .a-Toolbar-selectList {
    padding-left: 32px;
    padding-right: 8px;
    background-position: 0 50%
}

.ie9 .a-Toolbar-selectList,
.lt-ie10 .a-Toolbar-selectList,
.lt-ie9 .a-Toolbar-selectList {
    padding-right: 0;
    background-image: none
}

.a-Toolbar-selectList:-moz-focusring,
.a-Toolbar-selectList::-moz-focus-inner {
    outline: 0
}

.a-Toolbar-radioGroup input:focus+.a-Button,
.a-Toolbar-toggleButton input:focus+.a-Button,
.a-TreeView-row.is-focused {
    outline: dotted 1px
}

.a-Toolbar-group .a-Button:focus,
input:not(.a-Toolbar-inputText):focus+.a-Toolbar-group .a-Button {
    outline: dotted 1px;
    z-index: 110
}

.a-Toolbar-group .a-Button.js-menuButton {
    padding-right: 8px
}

.a-Toolbar-groupContainer {
    display: table-cell
}

.a-Toolbar-radioGroup,
.a-Toolbar-toggleButton,
.a-TreeView {
    display: inline-block
}

.a-Toolbar-groupContainer--start {
    text-align: left
}

.a-Toolbar-groupContainer--center {
    text-align: center
}

.a-Toolbar-groupContainer--end {
    text-align: right
}

.a-Toolbar-radioGroup input,
.a-Toolbar-toggleButton input {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.a-Toolbar-radioGroup input:checked+.a-Button,
.a-Toolbar-toggleButton input:checked+.a-Button {
    z-index: 110
}

.a-Toolbar-button-item .a-Button {
    border-radius: 0;
    margin-right: -.1rem
}

.a-Toolbar-button-item:first-of-type .a-Button {
    border-top-left-radius: .2rem!important;
    border-bottom-left-radius: .2rem!important
}

.a-Toolbar-button-item:last-of-type .a-Button {
    border-top-right-radius: .2rem!important;
    border-bottom-right-radius: .2rem!important;
    margin-right: 0
}

.a-Toolbar--small .a-Button,
.a-Toolbar--small .a-Toolbar-inputText {
    padding: .4rem .8rem
}

.a-Toolbar--small .a-Toolbar-selectList {
    height: 2.4rem
}

.a-Toolbar--simple .a-Toolbar-group .a-Button,
.a-Toolbar--simple .a-Toolbar-group .a-Toolbar-selectList {
    box-shadow: none;
    background-color: transparent;
    border-color: transparent
}

.a-Toolbar--simple .a-Toolbar-group input:checked+.a-Button {
    border-radius: .2rem
}

@media only screen and (max-width: 640px) {
    .a-Toolbar-group--fill {
        max-width: 100%;
        float: none;
        margin-right: 0;
        padding-right: 0;
        border-right-width: 0
    }
}

#tabs {
    background-color: #edeef4!important;
}

.apex-rds,
.t-Tabs {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-y: hidden
}

.t-Body-info .apex-rds {
    padding: 1.2rem 1.2rem 0
}

.apex-rds li,
.t-Tabs-item {
    padding: 0;
    display: inline-block;
    vertical-align: top
}

.apex-rds li .t-Icon,
.t-Tabs-item .t-Icon {
    display: none;
    margin-right: .4rem
}

.apex-rds a,
.t-Tabs-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    text-align: center;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.4rem;
    line-height: 1.6rem
}

.apex-rds a:focus,
.t-Tabs-link:focus {
    outline: 0;
    z-index: 110;
    position: relative
}

.apex-rds-item {
    height: 5.6rem;
    background-color: #edeef4;
    box-sizing: border-box;
    border-bottom: 1px solid #c3c5cc;
    font-family: 'Roboto Regular', 'Roboto';
    color: #333333;
    text-align: center;
    line-height: normal;
}

.apex-rds-item a {
    height: 5.6rem;
    background-color: #edeef4;
    border-bottom: 1px solid #c3c5cc;
    box-sizing: border-box;
    font-family: 'Roboto Regular', 'Roboto';
    color: #333333;
    text-align: center;
    line-height: normal;
}

.apex-rds-selected,
ul.apex-rds li.apex-rds-selected {
    height: 5.7rem;
    border-bottom: .3rem solid #435c74;
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: 'Roboto Regular', 'Roboto';
    font-weight: bold;
    color: #435c74;
    text-align: center;
    line-height: normal;
}

ul.apex-rds .apex-rds-selected a {
    box-shadow: none!important
}

.t-BreadcrumbRegion-body {
    padding: .1rem;
    vertical-align: bottom;
}

.t-BreadcrumbRegion-buttons {
    vertical-align: middle;
    padding: 0 1rem 0 0;
}

.a-IG-contentContainer {
    overflow: hidden;
    margin-top: -1px;
    background-color: #c3c5cc;
}