.t-Button,
.a-Button {
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Roboto Regular', 'Roboto';
    text-align: left;
    background-clip: padding-box;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.125) inset;
}

.t-Button--hot {
    font-weight: 400;
}

.t-Button:hover,
.a-Button:hover {
    background-color: #00519a;
    text-decoration: underline;
    z-index: 100;
}

.t-Button:focus,
.a-Button:focus {
    outline: none;
    z-index: 110;
}

.t-Button:focus,
.a-Button:focus,
.t-Button:active:focus,
.a-Button:active:focus {
    box-shadow: 0 0 0 1px #173348 inset, 0 0 1px 2px rgba(23, 51, 72, 0.25) !important;
}

.t-Button:active {
    background-color: #a4a4a5;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.25) inset;
    z-index: 100;
}

.t-Button:active:focus {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.25) inset !important;
}

.t-Button.is-active,
.t-Button.is-active:active,
.t-MenuButton.is-active {
    background-color: #a4a4a5;
    color: #000000;
    font-weight: normal;
    text-shadow: none;
    z-index: 100;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.25) inset;
}

.t-Button.is-disabled,
.t-Button.is-disabled:active,
.t-Button:disabled {
    opacity: .5;
    pointer-events: none;
}

.t-Button--primary {
    border-radius: 4px;
    border: 1px solid #2e7dcb;
    box-sizing: border-box;
    background-color: #2e7dcb;
    font-family: 'Roboto Regular', 'Roboto';
    color: #ffffff;
    text-align: left;
}

.t-Button--primary:hover,
.t-Button--primary:active,
.t-Button--primary.is-active {
    background-color: #00519a;
    text-decoration: underline;
}

.t-Button--secundary {
    border-radius: 4px;
    border: 1px solid #c3c5cc;
    box-sizing: border-box;
    background-color: #fff;
    font-family: 'Roboto Regular', 'Roboto';
    color: #2e7dcb;
    text-align: left;
}

.t-Button--tertiary {
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
    font-family: 'Roboto Regular', 'Roboto';
    color: #2e7dcb;
    text-align: left;
}

.t-Button--tertiary:hover,
.t-Button--tertiary:active,
.t-Button--tertiary.is-active,
.t-Button--secundary:hover,
.t-Button--secundary:active,
.t-Button--secundary.is-active {
    background-color: #edeef4;
    color: #00519a;
    text-decoration: underline;
}