body .ui-datepicker .ui-datepicker-buttonpane button:focus {
    outline: none;
    box-shadow: 0 0 0 .1rem #173348 inset, 0 0 1px 2px rgba(23, 51, 72, 0.25) !important;
}

body .ui-datepicker td span.ui-state-default,
body .ui-datepicker td a.ui-state-default {
    background-color: transparent;
    color: #000;
}

body .ui-datepicker td span.ui-state-default.ui-state-active,
body .ui-datepicker td a.ui-state-default.ui-state-active {
    background-color: #173348;
    color: #e6f0f7;
    font-weight: bold;
}

body .ui-datepicker td span.ui-state-default.ui-state-active.ui-state-hover,
body .ui-datepicker td a.ui-state-default.ui-state-active.ui-state-hover {
    background-color: #173348 !important;
}

body .ui-datepicker td span.ui-state-default.ui-state-hover,
body .ui-datepicker td a.ui-state-default.ui-state-hover {
    background-color: #979799 !important;
}

body .ui-datepicker td span.ui-state-default:focus,
body .ui-datepicker td a.ui-state-default:focus {
    outline: none;
    box-shadow: 0 0 0 1px #173348 inset, 0 0 1px 2px rgba(23, 51, 72, 0.25) !important;
}

body .ui-datepicker td span.ui-state-default.ui-state-highlight,
body .ui-datepicker td a.ui-state-default.ui-state-highlight {
    background-color: pink;
}

body .ui-datepicker th {
    color: #bfbfbf;
}

body .ui-datepicker .ui-datepicker-header,
body .ui-datepicker .ui-datepicker-buttonpane button,
body .ui-datepicker .ui-datepicker-next,
body .ui-datepicker .ui-datepicker-prev {
    border-radius: .2rem;
}

.t-Form-fieldContainer--floatingLabel .apex-item-has-icon:focus+.apex-item-icon,
.t-Form-fieldContainer--floatingLabel .apex-item-multi.is-focused+.apex-item-icon {
    background-color: #435c74;
    color: #FFF
}

.t-Form-fieldContainer--radioButtonGroup .apex-item-group--rc input:checked+label,
.apex-button-group input:checked+label {
    border-color: #2f3f4f;
    background-color: #2e7dcb;
    color: #ffffff;
    box-shadow: none;
}

.t-Form-fieldContainer--floatingLabel .t-Form-inputContainer .apex-item-display-only {
    color: #696a72;
    background-color: #edeef4;
    border-color: #c3c5cc;
    border-style: dashed;
}