/* 
 * RMG-SRM
 */

body {
    font-family: 'Roboto', sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin: 0;
}

a {
    color: #696a72;
}

.t-Region .t-Region-body {
    padding: 1.6rem;
    background-color: #edeef4;
}

.t-Body-contentInner {
    background-color: #edeef4;
}

.h1-eyecatcher {
    font-family: 'Roboto Light', 'Roboto';
    font-weight: 200;
    font-size: 4.8rem;
    color: #86868d;
    text-align: left;
    line-height: 5.4rem;
}

h1 {
    font-family: 'Roboto Light', 'Roboto';
    font-weight: 200;
    font-size: 3.2rem;
    color: #111423;
    text-align: left;
    line-height: 4rem;
}

h2 {
    font-family: 'Roboto-Regular', 'Roboto';
    font-size: 2.8rem;
    color: #111423;
    text-align: left;
    line-height: 3.6rem;
}

h3 {
    font-family: 'Roboto-Regular', 'Roboto';
    font-size: 2.4rem;
    color: #111423;
    text-align: left;
    line-height: 3.2rem;
}

h4 {
    font-family: 'Roboto Medium', 'Roboto';
    font-weight: 500;
    font-size: 2rem;
    color: #111423;
    text-align: left;
    line-height: 2.8rem;
}

h5 {
    font-family: 'Roboto Medium', 'Roboto';
    font-weight: 500;
    font-size: 1.8rem;
    color: #111423;
    text-align: left;
    line-height: 2.2rem;
}

p {
    font-family: 'Roboto-Regular', 'Roboto';
    font-size: 1.6rem;
    color: #111423;
    text-align: left;
    line-height: 2.4rem;
}

.p-small {
    font-family: 'Roboto-Regular', 'Roboto';
    font-size: 1.4rem;
    color: #111423;
    text-align: left;
    line-height: 2rem;
}

.p-x-small {
    font-family: 'Roboto-Regular', 'Roboto';
    font-size: 1.2rem;
    color: #111423;
    text-align: left;
    line-height: 2rem;
}

.t-Body-title {
    background-color: #fff;
    border-bottom: 1px solid #c3c5cc;
    color: #000000;
    padding-left: 1.4rem;
    padding-top: .1rem;
}

.t-Body-contentInner {
    padding: 0rem;
}

.nodatafound {
    display: block;
    padding: 1px;
    font-family: 'Roboto ', 'Roboto';
    color: #111423;
}

.t-Breadcrumb-item .t-Icon:hover {
    text-decoration: underline;
}

.t-Breadcrumb-item,
.t-Breadcrumb-item a {
    color: #435c74;
}

.t-BreadcrumbRegion--useBreadcrumbTitle .t-Breadcrumb-item:last-child .t-Breadcrumb-label {
    color: #000000;
}

.t-BreadcrumbRegion-titleText {
    box-sizing: border-box;
    font-family: 'Roboto Regular', 'Roboto';
    color: #333333;
    text-align: left;
    line-height: 2rem;
    font-size: 1.6rem;
    margin: 0;
}

.t-Breadcrumb-item.is-active {
    color: #000000;
}

.t-Breadcrumb-item:after {
    content: '\005C';
    margin-left: .8rem;
    margin-right: .6rem;
    color: rgba(0, 0, 0, 0.9935);
}

.t-Breadcrumb-item.is-active:after {
    content: ' ';
    margin-left: .8rem;
    margin-right: .6rem;
    color: rgba(0, 0, 0, 0.9935);
}

.t-BreadcrumbRegion {
    padding: .2rem;
    display: flex;
    align-items: flex-start;
}

.t-BreadcrumbRegion-body {
    padding: .1rem;
    vertical-align: bottom;
}

.t-BreadcrumbRegion-buttons {
    vertical-align: middle;
    padding: .4rem .4rem 0 0;
    line-height: 2rem;
    display: flex;
}

@media (min-width: 641px) {
    .t-Body-title:not(.t-Body-title-shrink) .t-BreadcrumbRegion--useBreadcrumbTitle:not(.t-BreadcrumbRegion--compactTitle) .t-Breadcrumb-item:last-child,
    .t-BreadcrumbRegion-titleText {
        margin: 0;
        display: block;
        font-size: 1.6rem;
        line-height: 2.6rem;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: 500
    }
}

.apex-button-group input:checked+label {
    display: inline-block;
    vertical-align: top;
    font-weight: 400;
    background-color: #d0d0d0;
    z-index: 1;
    position: relative;
}


/* Region Display Selector Tabs */

#tabs {
    background-color: #edeef4!important;
}

.apex-rds,
.t-Tabs {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-y: hidden
}

.t-Body-info .apex-rds {
    padding: 1.2rem 1.2rem 0
}

.apex-rds li,
.t-Tabs-item {
    padding: 0;
    display: inline-block;
    vertical-align: top
}

.apex-rds li .t-Icon,
.t-Tabs-item .t-Icon {
    display: none;
    margin-right: .4rem
}

.apex-rds a,
.t-Tabs-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    text-align: center;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.4rem;
    line-height: 1.6rem
}

.apex-rds a:focus,
.t-Tabs-link:focus {
    outline: 0;
    z-index: 110;
    position: relative
}

.apex-rds-item,
.apex-rds-item a {
    height: 5.6rem;
    background-color: #edeef4;
    box-sizing: border-box;
    border-bottom: 1px solid #c3c5cc;
    font-family: 'Roboto Regular', 'Roboto';
    color: #333333;
    text-align: center;
    line-height: normal;
}

.apex-rds-selected,
.apex-rds-selected a {
    height: 5.7rem;
    border-bottom: .3rem solid #435c74;
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: 'Roboto Regular', 'Roboto';
    font-weight: bold;
    color: #435c74;
    text-align: center;
    line-height: normal;
}

ul.apex-rds .apex-rds-selected a {
    box-shadow: none!important
}

.apex-rds .apex-rds-selected span {
    box-shadow: none;
}

.apex-rds-item--hint a span {
    box-shadow: none;
}

.t-Region {
    display: block;
    border: none;
    box-shadow: none;
    margin-bottom: 1rem;
}

.leftBorder {
    border-left: 1px solid silver
}

.rmg-srm-icon {
    background-color: #fff;
    border-color: #e6e6e6!important;
    display: block;
    width: 100%;
    padding: 2.2rem .8rem .6rem;
    border-radius: .2rem;
    flex-grow: 0;
    font-weight: 400;
    border-left: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
    min-height: 4.8rem;
    line-height: 4rem;
    width: 3.2rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    transition: .2s ease;
    flex-shrink: 0;
    top: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
}

.apex-item-wrapper:focus .rmg-srm-icon {
    background-color: #435c74;
    color: #FFF;
}

.apex-item-wrapper:focus-within .rmg-srm-icon {
    background-color: #435c74;
    color: #FFF;
}

.apex-item-wrapper:hover .rmg-srm-icon {
    background-color: #435c74;
    color: #FFF;
}

.apex-item-wrapper:active .rmg-srm-icon {
    background-color: #435c74;
    color: #FFF;
}

.apex-item-wrapper--display-only .rmg-srm-icon {
    background-color: #edeef4;
    border-color: #c3c5cc!important;
    line-height: 4.8rem;
}

.apex-item-display-only .rmg-srm-icon {
    background-color: #edeef4;
    border-color: #c3c5cc!important;
}

.apex-item-wrapper--display-only:hover .rmg-srm-icon {
    background-color: #edeef4;
    border-color: #c3c5cc!important;
    line-height: 4.8rem;
    color: black;
}

.apex-item-display-only:hover .rmg-srm-icon {
    background-color: #edeef4;
    border-color: #c3c5cc!important;
    color: black;
}

.over {
    border-radius: 5px;
    padding: 6px;
    height: 30px;
    font-family: 'Roboto Regular', 'Roboto';
    color: #c3000a;
    text-align: left;
    border: 1px solid #c3000a;
    background-color: #ffffff;
    box-sizing: border-box;
    line-height: 16px;
}

.today {
    border-radius: 5px;
    padding: 6px;
    height: 30px;
    font-family: 'Roboto Regular', 'Roboto';
    color: #ff6600;
    text-align: left;
    border: 1px solid #ff6600;
    background-color: #ffffff;
    box-sizing: border-box;
    line-height: 16px;
}

.oneday {
    border-radius: 5px;
    padding: 6px;
    height: 30px;
    font-family: 'Roboto Regular', 'Roboto';
    color: #ff9428;
    text-align: left;
    border: 1px solid #ff9428;
    background-color: #ffffff;
    box-sizing: border-box;
    line-height: 16px;
}

.twodays {
    border-radius: 5px;
    padding: 6px;
    height: 30px;
    font-family: 'Roboto Regular', 'Roboto';
    color: #009900;
    text-align: left;
    border: 1px solid #009900;
    background-color: #ffffff;
    box-sizing: border-box;
    line-height: 16px;
}

.week {
    border-radius: 5px;
    padding: 6px;
    height: 30px;
    font-family: 'Roboto Regular', 'Roboto';
    color: #86868d;
    text-align: left;
    border: 1px solid #86868d;
    background-color: #ffffff;
    box-sizing: border-box;
    line-height: 16px;
}

.longer {
    border-radius: 5px;
    padding: 6px;
    height: 30px;
    font-family: 'Roboto Regular', 'Roboto';
    color: #1a75a0;
    text-align: left;
    border: 1px solid #1a75a0;
    background-color: #ffffff;
    box-sizing: border-box;
    line-height: 16px;
}

.t-Alert--info .t-Alert-icon .t-Icon {
    color: silver;
}

.t-Alert--wizard .t-Alert-body {
    font-family: 'Roboto Medium', 'Roboto';
    margin: 1.6rem 0;
    font-size: 1.4rem;
    line-height: 1.5;
    text-align: center;
}

.t-Alert--horizontal,
.t-Alert--wizard {
    border: 0px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0px 0px -0px rgba(0, 0, 0, 0);
}

.t-Alert-body h2 {
    font-family: Roboto-Regular, Roboto;
    font-size: 1.4rem;
    color: #111423;
    text-align: left;
    line-height: 3.6rem;
}

.ui-dialog--notification .ui-dialog-titlebar-close {
    display: none;
}

.ui-dialog--notification .ui-button--hot {
    background-color: #2e7dcb!important;
}

.ui-dialog--notification .ui-dialog-buttonpane {
    border-width: 0px 0 0;
}

.ui-dialog--notification .ui-dialog-content {
    min-height: auto!important;
    padding: 0 32px 6px!important;
}

/* Homepage widget regions control */

.srm-home-widget  {
    border-radius: 8px;
    border: 1px solid #2e7dcb;
    box-shadow: 1.5px 1.5px grey;
    background-color: white;
  }
  
  .srm-home-widget .t-Region-header {
   display:flex;
   border-radius: 10px;
   background-color: white;
   border-bottom: 0px solid rgba(0,0,0,.075)
  }
  
  .srm-home-widget .t-Region-bodyWrap {
   border-radius: 10px;
   background-color: white;
  }
  
  .srm-home-widget .t-Region-headerIcon {
      float: left;
      position: relative;
      width: 3rem;
      height: 3rem;
      border-radius: 50px;
      background-color: #2e7dcb;
      color: #ffffff;
  }
  
  .srm-home-widget .t-Region-headerIcon .t-Icon {
      padding: 7px;
      border-radius: 2px;
  }
  
  .srm-home-widget .t-Region-body {
      border-radius: 10px;
      padding: 1.6rem;
      background-color: white; 
  }
  
  .srm-home-widget .t-Region-title{
      display:flex;
      justify-content:space-between;
      width: 100%;
  }
  
  .srm-home-widget .t-Region-headerItems--title {
      flex-grow: 1;
      text-align: left;
      padding: 1.2rem;
      display: flex;
      align-items: stretch; 
  }
  
  .srm-home-widget  .t-Report-cell {
      height: 10px; 
      box-sizing: border-box;
      font-family: 'Roboto Regular','Roboto';
      color: #696a72;
      line-height: 10px; 
      border: 0;
      border-bottom: 0px solid #cdd0e1;
  }
  
  .srm-home-widget .t-Button {
  }


