.short {
    border-radius: 5px;
    padding: 6px;
    height: 30px;
    font-family: 'Roboto Regular', 'Roboto';
    color: #c3000a;
    text-align: left;
    border: 1px solid #c3000a;
    background-color: #ffffff;
    box-sizing: border-box;
    line-height: 16px;
}

.between {
    border-radius: 5px;
    padding: 6px;
    height: 30px;
    font-family: 'Roboto Regular', 'Roboto';
    color: #ff6600;
    text-align: left;
    border: 1px solid #ff6600;
    background-color: #ffffff;
    box-sizing: border-box;
    line-height: 16px;
}

.longer {
    border-radius: 5px;
    padding: 6px;
    height: 30px;
    font-family: 'Roboto Regular', 'Roboto';
    color: #009900;
    text-align: left;
    border: 1px solid #009900;
    background-color: #ffffff;
    box-sizing: border-box;
    line-height: 16px;
}

.nothing {
    border-radius: 5px;
    padding: 6px;
    height: 30px;
    font-family: 'Roboto Regular', 'Roboto';
    text-align: left;
    border: 0px solid #1a75a0;
    background-color: #ffffff;
    box-sizing: border-box;
    line-height: 16px;
}